.header {
  display: flex;
  align-items: center;
  padding: 0 size-desktop(98px) size-desktop(50px);
  background-color: $color-default-black;

  @include vp--1439 {
    padding: 0 98px 0 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: size-desktop(20px) 0 size-desktop(30px);

    @include vp--1439 {
      padding: 20px 0 30px;
    }
  }

  &__logo {
    min-height: size-desktop(77px);
    width: size-desktop(246px);
    background-color: $color-default-white;

    @include vp--1439 {
      min-height: 77px;
      width: 246px;
    }
  }
}
