mixin header(headerMods, currentPage)
  -
    var headerLinks = [
      {
        href: "#",
        text: "Главная"
      },
      {
        href: "#",
        text: "О нас"
      },
      {
        href: "#",
        text: "услуги"
      },
      {
        href: "#",
        text: "контакты"
      },
    ]

  header.header(class=headerMods)
    .header__wrapper
      if(currentPage === "main")
        a.header__logo Логотип
      else
        a.header__logo(href="main.html", aria-label="Переход на главную") Логотип
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            each link, index in headerLinks
              li.main-nav__item
                if(index === currentPage)
                  a.main-nav__link.main-nav__link--active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
